.seeMore{
    /* position: absolute; */
    height: 10%;
    /* width: 99%; */
    /* margin-top: -83%; */
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    padding: 15px;
}